/* buttons */
@mixin button() {
	color: #fff;
	background-color: #000;
}

@mixin buttonHover() {
	color: #000;
	background-color: #fff;
}

/* social */
@mixin social() {
	width: 28px; height: 30px;
	background: transparent;
	&:before { 
		color: #000;
		font-size: 18px;
	}
	&:hover {
		background: #000;
		&:before { color: #fff; }
	}
}